input[type=number] {
  padding: 7px 0;
}

label[for=filter] {
  font-weight: bold;
  font-size: 0.95em;
  display: block;
  padding: 0.5em 0;
}

#idleSeconds {
  width: 65px;
}

#regexp {
  display: block;
  position: relative;
  padding-bottom: 0.5em;
}

#regexp input {
  width: 400px;
}
